<mat-toolbar color="primary">
    <div><a routerLink="/" routerLinkActive>Hacker News</a></div>
    <div>
        <a routerLinkActive="active" routerLink="new">new</a>
        <a routerLinkActive="active" routerLink="past">past</a>
        <a routerLinkActive="active" routerLink="comments">comments</a>
        <a routerLinkActive="active" routerLink="ask">ask</a>
        <a routerLinkActive="active" routerLink="show">show</a>
        <a routerLinkActive="active" routerLink="jobs">jobs</a>
        <a routerLinkActive="active" routerLink="submit">submit</a>
    </div>
</mat-toolbar>