<mat-toolbar>
    <img src="../../../assets/images/y18.jpg">
    <div>
        &nbsp;
        <a routerLink="/" routerLinkActive><b>Hacker News</b></a>
    </div>&nbsp;&nbsp;
    <div fxFlex fxLayout fxLayoutGap="10px">
        <a routerLinkActive="active" routerLink="new">new</a> | 
        <a routerLinkActive="active" routerLink="past">past</a> | 
        <a routerLinkActive="active" routerLink="comments">comments</a> | 
        <a routerLinkActive="active" routerLink="ask">ask</a> | 
        <a routerLinkActive="active" routerLink="show">show</a> | 
        <a routerLinkActive="active" routerLink="jobs">jobs</a> | 
        <a routerLinkActive="active" routerLink="submit">submit</a>
    </div>
</mat-toolbar>